/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;
  color: #111111;
  background-color: #FFFFFF;
  line-height: 1.6;
}

h2{
  font-family: Helvetica, sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


/* navbar styles */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px 0;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #111111;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #C63C51; /* Accent */
}

.nav-links a.active {
  color: #C63C51; /* your accent color */
  
}